.todoItem {
  border: 1px solid darkgray;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  color: darkgray;
  display: flex;
  justify-content: space-between;
}

.completed {
  text-decoration: line-through;
}
